
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">Brunch with Marionette</a>
    </div>
  </div>
</div>

<div id="content" class="container"></div>
