<div class="row">
  <div class="col-md-12">
  	<div class="jumbotron">
	  <h1>Brunch with Marionette</h1>
	  <p>This is a simple coffee skeleton for <a href="http://brunch.io/" target="_blank">Brunch</a> which utilizes <a href="http://marionettejs.com/" target="_blank">MarionetteJS</a>. It uses <a href="http://coffeescript.org/" target="_blank">CoffeeScript</a>, <a href="http://learnboost.github.com/stylus/" target="_blank">Stylus</a> and <a href="http://handlebarsjs.com/" target="_blank">Handlebars</a>.</small></p>
	</div>
  </div>
</div>

<div class="row">
	<div class="col-md-8">
		<div class="page-header">
		  <h2>Getting Started</h2>
		</div>

		<ul class="list-group">
		  <li class="list-group-item">
		  	<h4 class="list-group-item-heading">Create new project via executing:</h4>
    		<p class="list-group-item-text">
    			mkdir &lt;new project name&gt;<br/>
    			cd &lt;new project name&gt;<br/>
    			brunch new --skeleton https://github.com/SimbCo/brunch-with-marionette.git</p>
		  </li>
		  <li class="list-group-item">
		  	<h4 class="list-group-item-heading">Install Library Dependencies</h4>
    		<p class="list-group-item-text">bower install</p>
		  </li>
		  <li class="list-group-item">
		  	<h4 class="list-group-item-heading">Build the project</h4>
    		<p class="list-group-item-text">brunch watch --server</p>
		  </li>
		  <li class="list-group-item">
		  	<h4 class="list-group-item-heading">Open your browser to see the result</h4>
		  	<p class="list-group-item-text"><a href="http://localhost:3333/">http://localhost:3333/</a></p>
		  </li>
		  <li class="list-group-item">
		  	<h4 class="list-group-item-heading">Update the code in the app folder with your code.</h4>
		  </li>
		</ul>
	</div>

	<div class="col-md-4">
		<div class="page-header">
		  <h2>Other Information</h2>
		</div>
		<ul class="list-group">
		  
		  <li class="list-group-item">
		    <span class="badge">v 3.2.0</span>
		    Twitter Bootstrap
		  </li>
		  <li class="list-group-item">
		    <span class="badge">v 1.8.8</span>
		    MarionetteJS
		  </li>
		  <li class="list-group-item">
		    <span class="badge">v 2.1.0</span>
		    jQuery
		  </li>
		  <li class="list-group-item">
		    <span class="badge">v 1.1.2</span>
		    Backbone
		  </li>
		  <li class="list-group-item">
		    <span class="badge">v 1.6.0</span>
		    Underscore
		  </li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="page-header">
		  <h2>Legal Stuff (MIT License)</h2>
		</div>
		<p>Template is Copyright &copy; 2013 Simeon Bateman; SimB &amp; Company. We assume no rights or liablities for the code contained. All libraries are owned and licensed by the ownsers. Use at your own risk.</p>
		<p>Distributed under MIT license.</p>
	</div>
</div>